<!DOCTYPE html>
<html lang="en">
<head>

  <title>Noble Arsenault</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">

<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>


<script src="https://use.fontawesome.com/f3467772a3.js"></script>


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'noble/css/style.css' %}">

</head>



<body data-spy="scroll" data-target="#myScrollspy" data-offset="60" id="topofpage">  

<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="navname" class="navbar-brand" href="#">NOBLE ARSENAULT</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          <ul id="navbarside" class="nav navbar-nav navbar-right">
            <li><a href="#aboutnavbar">About</a></li>
            <li><a href="#skillsnav">Skills</a></li>
<!--             <li><a href="../navbar-static-top/">Static top</a></li> -->
            <li><a href="#contentnav">Media</a></li>

          
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>




<div class="row">
<div id="about1" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="containerheaderimg">


<img id="headerimg" src="{% static 'noble/img/img115.jpg' %}">
  <div class="centeredheaderimg"><h1 id="noble" >Noble Arsenault</h1> </div>
    

</div>
</div>
</div>






<div class="row" id="aboutnavbar">
    <div id="toscrew" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h1 class="magicfont" id="tounscrew" style="text-align: center;" >ABOUT</h1></div>
</div>

<div class="row">
<div id="aboutsection" class="container-fluid">
<div style="height: 40px;"></div>


  <div id="about" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p id="itypedtext"><span class="ityped"></span> </p>
        <p id="centerpeetags" >My name is Noble Arsenault. <br> I will make this short and simple, we can leave the formality to my resume. I have been an entrepreneur my whole life starting with a services company where I primarily outsourced through real-estate companies. I grew up learning different martial arts and languages I am trilingual and I have held a position on the US Olympic team. I find a lot of inspiration in fashion where I am able to incorporate those ideas into creating aesthetically pleasing software. I am fully versed in three full stacks (Python, Java, Mean). I prefer front-end work because I find more gratification creating visually appealing projects. I aspire to combine these two passions and program in the fashion industry.</p> 







  </div>

    <div id="linkss" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="connect">
                <a href="https://github.com/noblearsenault/">
            <i class="fa fa-github fa-5x" style="padding-right: 2%; padding-left: 2%; aria-hidden="true"></i>
                </a>

                <a href="http://www.linkedin.com/in/noblearsenault/"> 
            <i class="fa fa-linkedin fa-5x" style="padding-right: 2%; padding-left: 2%; aria-hidden="true"></i>
                </a>

                <a href="http://www.instagram.com/noble">
            <i class="fa fa-instagram fa-5x" style="padding-right: 2%; padding-left: 2%; aria-hidden="true"></i>
                </a>

                <a href="mailto:noblearsenault@gmail.com">
            <i class="fa fa-envelope-o fa-5x" style="padding-right: 2%; padding-left: 2%;" aria-hidden="true"></i>
                </a>
  </div>

</div>
</div>


</div>

<div class="row" id="skillsnav">
    <div id="toscrew" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h1 class="magicfonttech" id="tounscrew" style="text-align: center;">Technical Skills</h1></div>
</div>

<div id="marginthis" class="row">



  <div id="slidersection" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
    <h4>Software Developer<br><span style="font-style:normal;">Knowledge is power technology is the future. <br>Therefore, it stems to have a good foundation in computer science</span></h4>
    </div>
    <div class="item">
      <h4>Leader of the Forefront<br><span style="font-style:normal;">I love working, I hunger for success. <br> Determined, optimistic, and ready to face any obstacle.</span></h4>
    </div>
        <div class="item">
      <h4>Analytical Artist<br><span style="font-style:normal;">In order to learn, you have to listen<br>&zwnj;</span></h4>
    </div>
        <div class="item">
      <h4>Business Adviser<br><span style="font-style:normal;">It is good to have opinions, but bad to be opinionated. <br> You have to be confident in your abilities</span></h4>
    </div>
        <div class="item">
      <h4>Campaign Visionary<br><span style="font-style:normal;">Analyze and transparently communicate your ideas <br> to predict the best routes in marketing a product with your team.</span></h4>
    </div>
            <div class="item">
      <h4>Different<br><span style="font-style:normal;">As an entrepreneur, I am adaptable and versatile. <br> I love switching up styles while alternative solutions.</span></h4>
    </div>
    <div class="item">
      <h4>Evolving Learner<br><span style="font-style:normal;">A good leader must be humble and always willing to learn <br>&zwnj;</span></h4>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


</div>








<div id="techskills" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
  <div id="boxme3" >
    <ul id="skill" >
      <h3 style="text-align: center;" >UI / UX:</h3>
      <li><span class="bar graphic-design"></span></li>
    </ul>
      <p style="text-align: center;">
        • Front-end Development: Html, CSS, Bootstrap, React, Materialize, Bulma, Jquery, AJAX, Mobile,  RWD, Browser Development Tools,  p5, Canvas <br><br>

        • QOL: Version Control/Git, Web Performance, WordPress, Testing/Debugging <br><br>

        • Design: Photoshop, Illustrator, Lightroom, Adobe XD, Acrobat<br>


      </p>
</div>
</div>

<div id="techskills" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
    <div id="boxme">
      <ul id="skill">
        <h3 style="text-align: center;" >Software Engineer:</h3>
        <li><span class="bar html-css"></span></li>
      </ul>
        <p style="text-align: center;">

          • Python: Flask, Django, Gunicorn, Jinja2, WSGI, MVC, MTV, RESTful Architecture<br><br>

          • JavaScript: MongoDB, Express, Angular, Node, Mongoose, React, Nginx, ES6, Socket<br><br>

          • Java: Spring, Apache Tomcat, Maven, POM XML, JSP, JPA, LWJGL<br><br>

          • Databases: MongoDB, SQL, SQLite, MySQL Workbench <br>

        </p>
</div>
</div>

<div id="techskills" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
    <div id="boxme2">
      <ul id="skill">
        <h3 style="text-align: center;" >Noteable Skils:</h3>
        <li><span class="bar jquery"></span></li>
      </ul>
        <p style="text-align: center;">
          
          • Spoken Languages: Thai, French, and English <br><br>

          • Model / Fashion: Gantt Charts, Tech Packs, Flat Sketching, Published, Acting, Print work, Agencies, Unions<br><br>

          • Business: 70K+ gross profit first year, Employee management, Marketing/decision making<br><br>

          • Athlete: Olympic level athlete, 16+ years of experience<br>

        </p>
</div>
</div>



</div>


<div class="row" id="contentnav">
    <div id="toscrew" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h1 class="magicfontpics" id="tounscrew" style="text-align: center;">Media</h1></div>
</div>

<div class="row">
  <div id="bordermevid" class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div id="example3">
    <div class="embed-responsive embed-responsive-16by9">
<iframe &vq=hd720 src="https://www.youtube.com/embed/l-xDGanrLIM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
</div>
</div>


  <div id="marginmevid" class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <div id="example3">
    <div class="embed-responsive embed-responsive-16by9">
<iframe &vq=hd720 src="https://www.youtube.com/embed/WXa9k4iqmXM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
</div>
</div>



</div>




<div class="roww" id="desktopvr"> 
  <div class="column">
    <img src="{% static 'noble/img/img4.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/img111.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/img115.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/cautionimg.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/latest.jpg' %}" style="width: 100%">

        <img src="{% static 'noble/img/img114.jpg' %}" style="width: 100%">
<!--     <img src="{% static 'noble/img/img2.jpg' %}" style="width: 100%"> -->
  </div>
  <div class="column">
        <img src="{% static 'noble/img/img2.jpg' %}" style="width: 100%">
    <video  width="100%" autoplay loop muted class="embed-responsive-item">
  <source src="{% static 'noble/img/gif2.mov' %}" type="video/mp4" style="width: 100%">
</video>
    <img src="{% static 'noble/img/img103.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/header10.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/img110.jpg' %}" style="width: 100%">
<!--     <img src="{% static 'noble/img/img3.jpg' %}" style="width: 100%"> -->

  </div> 
  <div class="column">
    <img src="{% static 'noble/img/img1.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/img12.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/img105.jpg' %}" style="width: 100%">
        <img src="{% static 'noble/img/img109.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/999.jpg' %}" style="width: 100%">
<!--     <img src="{% static 'noble/img/img106.jpg' %}" style="width: 100%"> -->
<!--     <img src="{% static 'noble/img/img1.jpg' %}" style="width: 100%"> -->
  </div>
  <div class="column">
    <img src="{% static 'noble/img/img3.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/img7.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/img112.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/img107.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/img106.jpg' %}" style="width: 100%">
        <img src="{% static 'noble/img/img101.jpg' %}" style="width: 100%">


<!--     <img src="{% static 'noble/img/199.png' %}" style="width: 100%"> -->

  </div>
</div>


<!-- MOBILE VERSION -->

<div class="roww" id="mobilevr"> 
  <div class="columnmobile">
    <img src="{% static 'noble/img/img4.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/img111.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/img115.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/cautionimg.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/latest.jpg' %}" style="width: 100%">
        <img src="{% static 'noble/img/img114.jpg' %}" style="width: 100%">
<!--     <img src="{% static 'noble/img/img2.jpg' %}" style="width: 100%"> -->
    <img src="{% static 'noble/img/img1.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/img12.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/img105.jpg' %}" style="width: 100%">
        <img src="{% static 'noble/img/img109.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/999.jpg' %}" style="width: 100%">
<!--     <img src="{% static 'noble/img/img106.jpg' %}" style="width: 100%"> -->
<!--     <img src="{% static 'noble/img/img1.jpg' %}" style="width: 100%"> -->
  </div>
  <div class="columnmobile">
        <img src="{% static 'noble/img/img2.jpg' %}" style="width: 100%">
    <video  width="100%" autoplay loop muted class="embed-responsive-item">
  <source src="{% static 'noble/img/gif2.mov' %}" type="video/mp4" style="width: 100%">
</video>
    <img src="{% static 'noble/img/img103.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/header10.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/img110.jpg' %}" style="width: 100%">
<!--     <img src="{% static 'noble/img/img3.jpg' %}" style="width: 100%"> -->
    <img src="{% static 'noble/img/img3.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/img7.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/img112.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/img107.jpg' %}" style="width: 100%">
    <img src="{% static 'noble/img/img106.jpg' %}" style="width: 100%">
        <img src="{% static 'noble/img/img101.jpg' %}" style="width: 100%">
<!--     <img src="{% static 'noble/img/199.png' %}" style="width: 100%"> -->

  </div> 

</div>


<!-- MOBILE VERSION -->

<!-- Script Stuff -->

<script src="{% static 'noble/js/ityped.js' %}" type="text/javascript"></script>

<script type="text/javascript">
    window.ityped.init(document.querySelector('.ityped'),{
        strings : ['LEARNER, LISTENER, LEADER','CREATIVE WEB DEVELOPER'],
        loop : true
    })
</script>

<script src="{% static 'noble/js/index.js' %}" type="text/javascript"></script>
<!--  -->





  </body>

</html>



